@font-face {
   font-family: 'Sacramento';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/james/Documents/GitHub/painprenelle.github.io/fonts/Sacramento/regular.ttf') format('truetype');
}
